<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.9.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>
	<connectionStrings>
		<add name="zerodotone" connectionString="server=localhost; user=root; password=; database=zerodone_invoice_db;"/>
	</connectionStrings>
	<!--<connectionStrings>
    <add name="zerodotone" connectionString="Driver={MySQL ODBC 5.1 Driver};server=localhost;port:3306; user=zerod_in_db; password=Zero123!; database=zerodone_invoice_DB;"/>
  </connectionStrings>-->
</configuration>
